body{
    background-image: url("/images/FondoGeneral.png");
}
body{
    text-align: center;
    color: white;
    font-size:40px;
    font-family: retro;
}


@font-face{
    font-family: retro;
    src:url(Retro\ Gaming.ttf);

}
.titulo {
 text-align: center;
 color: #FFC107;
 font-size: 70px;
 font-family: retro;
}

table{
    text-align: center;
}

#ajustes_audio{
    width:400 ;
    height:150;
    padding-right:0;
    padding-left: 0 ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 10px solid #FFC107 ;
    border-right: 10px solid #FFC107;
    border-top: 10px solid #FFC107;
    border-left:10px solid #FFC107;

}

.boton_1{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    background-color: #FFC107;
    cursor: pointer;
}


#personalizacion{
    width:1000 ;
    height:400;
    padding-right:0;
    padding-left: 0 ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 10px solid #FFC107 ;
    border-right: 10px solid #FFC107;
    border-top: 10px solid #FFC107;
    border-left:10px solid #FFC107;
}



