/*Elección de nave*/
.divpersonalizacion {
  height: 450;
  display: flex;
  justify-content: center;
  align-items: center;
}

#personalizacion {
  width: 500;
  height: 400;
  padding-right: 0;
  padding-left: 0;
  display: block;
  border-bottom: 10px solid #ffc107;
  border-right: 10px solid #ffc107;
  border-top: 10px solid #ffc107;
  border-left: 10px solid #ffc107;
  float: left;
}

/*Elección nave: botones*/
.boton2 {
  border: 0px;
  font-family: retro;
  display: inline-block;
  text-align: right;
  padding: 14px 16px;
  font-size: 19px;
  text-decoration: none;
  background-color: #ffc107;
  cursor: pointer;
}

.divtabla {
  float: right;
  width: 240px;
}

.tabla2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

/*Control volumen*/
.control_audio {
  display: flex;
  padding: 14px 16px;
  margin-left: 42%;
  margin-right: 42%;
  justify-content: space-around;
}

#play {
  background-color: transparent;
  border: transparent;
  display: block;
  cursor: pointer;
  margin: auto;
}

/*Barra de volumen*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #mislider {
    overflow: hidden;
    display: block;
    width: 250px;
    -webkit-appearance: none;
    background-color: #9a905d;
  }

  #mislider::-webkit-slider-runnable-track {
    /*para dar estilo a la barra*/
    height: 10px;
    -webkit-appearance: none;
    color: #ffc107;
    margin-top: -1px;
  }

  #mislider::-webkit-slider-thumb {
    /*para dar estilo al boton del desplazamiento*/
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #434343;
    box-shadow: -250px 0 0 250px #ffc107;
  }
}

/*Mensaje emergente en icono de sonido*/

#play .msj {
  visibility: hidden;
  width: 110px;
  background-color: #ffc107;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  font-family: retro;
}

#play .msj::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #ffc107 transparent transparent;
}

#play:hover .msj {
  visibility: visible;
}
