#ajustes_audio {
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 10px solid #ffc107;
  border-right: 10px solid #ffc107;
  border-top: 10px solid #ffc107;
  border-left: 10px solid #ffc107;
}

.divpersonalizacion {
  height: 450;
  display: flex;
  justify-content: center;
  align-items: center;
}
#personalizacion {
  width: 500;
  height: 400;
  padding-right: 0;
  padding-left: 0;
  /*margin-left: 25%;
  margin-right: 30%;*/
  display: block;
  border-bottom: 10px solid #ffc107;
  border-right: 10px solid #ffc107;
  border-top: 10px solid #ffc107;
  border-left: 10px solid #ffc107;
  float: left;
}

.boton2 {
  border: 0px;
  font-family: retro;
  display: inline-block;
  text-align: right;
  padding: 14px 16px;
  font-size: 19px;
  text-decoration: none;
  background-color: #ffc107;
  cursor: pointer;
}

.divtabla {
  float: right;
  width: 240px;
}
.tabla2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

.control_audio {
  border: 0px;
  font-family: retro;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  background-color: #ffc107;
  cursor: pointer;
  margin-left: 42%;
  margin-right: 42%;
  justify-content: space-around;
  margin-top: 0%;
}

/*falta hacer el css de la barrita, que en internet lo hacen muy chungo 
y no l entiendo con lo de webkit appereance y esas movidas*/
/*
#map-slider{
  background-color: black;

}

.slider{
  background-color: black;
  appearance: black;
}*/
