/*Tabla autores*/
.tabla {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

/*Imágenes miembros*/
.imagenes {
  margin-bottom: 20px;
}

/*Contacto miembros*/
.contacto {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.contacto:link {
  color: black;
}

.contacto:visited {
  color: black;
}

.contacto:hover {
  text-decoration: underline;
}
