@font-face {
    font-family: retro;
    src: url(../resources/Retro\ Gaming.ttf);
}
@font-face {
    font-family: star;
    src: url(../resources/Starjedi.ttf);
}

.Titulo_C{
    text-align: center;
    font-family: star;
    color: rgba(255, 193, 7,255);
    font-size: 10vh;

}
.objetivos{
    font-family: retro;
    color: rgba(255, 193, 7,255);
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border: solid 5px rgba(255, 193, 7,255);
    text-align: center;
}
body{
    background-image: url(../images/FondoGeneral.png);
}
h3{
    font-family: retro;
    color: rgba(255, 193, 7,255);
    text-align: center;
    font-size: 30px;
}
.up{
    width: 250px;
    height: auto;
    margin: 15px 20px;
    vertical-align: middle;
}
p{
    font-family: retro;
    color: rgba(255, 193, 7,255);
    font-size: 20px; 
    align-self: justify;

}
.controles{
    font-family: retro;
    color: rgba(255, 193, 7,255);
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border: solid 5px rgba(255, 193, 7,255);
    text-align: start;
}
.navbar {
    overflow: hidden;
    background-color: #FFC107;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
   }

.navbar button {
    border:0px;
    font-family: retro;
    display: inline-block;
    background-color: #FFC107;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    cursor: pointer;
   }

.navbar button:hover {
    background:black;
    color:#FFC107 ;
   }
.juego{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.comoJugar{
    background:black;
    color:#FFC107 ;
}
.home{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.home:hover{
    background:black;
    color:#FFC107 ;
}

.comoJugar{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.comoJugar:hover{
    background:black;
    color:#FFC107 ;
}

.autores{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.autores:hover{
    background:black;
    color:#FFC107 ;
}

.desarrollo{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.desarrollo:hover{
    background:black;
    color:#FFC107 ;
}
.multimedia{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.multimedia:hover{
    background:black;
    color:#FFC107 ;
}
.referencias{
    border:0px;
    font-family: retro;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.referencias:hover{
    background:black;
    color:#FFC107 ;
}