.objetivos {
  font-family: retro;
  color: rgba(255, 193, 7, 255);
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
  border: solid 5px rgba(255, 193, 7, 255);
  text-align: center;
}

.up {
  width: 250px;
  height: auto;
  margin: 15px 20px;
  vertical-align: middle;
}

p {
  font-family: retro;
  color: rgba(255, 193, 7, 255);
  margin: 2%;
  font-size: 30px;
}

.controles {
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flecha_arriba {
  float: left;
  width: 33%;
}

.flecha_abajo {
  float: none;
  width: 33%;
}

.espacio {
  float: right;
  width: 33%;
}

.contenido {
  font-family: retro;
  color: rgba(255, 193, 7, 255);
  margin: 2%;
  font-size: 25px;
}

.ejemplo{
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gif{
  margin: 2%;
  
}
.gif2{
  text-align: justify;
}