/*Canvas juego*/
#game {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-top: 10px solid rgba(255, 193, 7, 255);
  border-left: 10px solid rgba(255, 193, 7, 255);
  border-right: 10px solid rgba(255, 193, 7, 255);
  border-bottom: 10px solid rgba(255, 193, 7, 255);
}

.divJuego {
  float: left;
}

.jueg0 {
  height: 450;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*Puntuaciones*/
.divpuntuaciones {
  float: right;
  height: 420px;
  width: 220px;
  margin-right: 7%;
}

.tabla {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

/*Texto*/
p {
  font-family: retro;
  color: white;
  text-align: center;
  font-size: 20px;
}

/*GAME OVER*/
.overlay_go {
  background-image: url("../img/Webp.net-gifmaker\ \(1\).gif");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  margin-bottom: 40px;
}

.overlay_go.active {
  visibility: visible;
}

.ventana {
  border: 17px solid rgba(255, 193, 7, 255);
  width: 1200;
  height: 621;
}

.go {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  text-align: center;
  font-family: retro;
  color: rgba(255, 193, 7, 255);
  font-size: 12vh;
  position: relative;
  animation-name: shadows;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/*Vidas*/
.extra {
  float: right;
}

.estrella {
  width: 220px;
  margin-right: 5px;
}

#vidas {
  display: block;
  background-color: transparent;
}

/*Puntuación*/
#contador1 {
  font-family: retro;
  color: white;
  text-align: center;
  font-size: 50px;
}

/*Botones Game Over*/
.divcontroles {
  text-align: center;
  padding: 0 40px;
  margin-top: 50;
}






