#game {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url(../images/FondoCanvas.png);

  border-top: 10px solid rgba(255, 193, 7, 255);
  border-left: 10px solid rgba(255, 193, 7, 255);
  border-right: 10px solid rgba(255, 193, 7, 255);
  border-bottom: 10px solid rgba(255, 193, 7, 255);
}
.divJuego {
  float: left;
  margin-left: 10%;
}
.divpuntuaciones {
  float: right;
  height: 420px;
  width: 220px;
  margin-right: 7%;
}
.tabla {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: auto;
}

p {
  font-family: retro;
  color: white;
  text-align: center;
  font-size: 26px;
}

.overlay_go {
  background-image: url("../images/FondoGeneral.png");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.overlay_go.active {
  visibility: visible;
}
.ventana {
  border: 2px solid rgba(255, 193, 7, 255);
  width: 1200;
  height: 621;
}
.go {
  text-align: center;
  font-family: retro;
  color: rgba(255, 193, 7, 255);
  font-size: 12vh;
}

#contador1 {
  font-family: retro;
  color: white;
  text-align: center;
  font-size: 50px;
}
.namee{
  color: aliceblue;
}

.estrella{
  margin-left: 77%;
  margin-right: 6%;
  
  
}

#vidas {
  padding-left: 0;
  padding-right: 0;
  display: block;
  background: transparent;

  border-top: 10px transparent;
  border-left: 10px transparent;
  border-right: 10px transparent;
  border-bottom: 10px transparent;
}
