.date {
  color: white;
  font-family: retro;
  border: transparent;
  position: absolute;
  left: auto;
  font-size: 15px;
 
}

.clock {
  color: white;
  font-family: retro;
  border: transparent;
  position: absolute;
  left: auto;
  font-size: 15px;
  top: 5%;
  
}
