.divlogo {
  background-position: center;
  margin: 10;
  padding: 0 40px;
  margin-top: 8%;
}

.logo_principal {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: 5vh;
}


