p {
  color: rgba(255, 193, 7, 255);
  font-size: 15px;
  font-family: retro;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 12%;
  margin-right: 12%;
  text-align: center;
}

#div_izq {
  padding-left: 0;
  padding-right: 0;
  float: left;
  display: block;
  background: transparent;

  border-top: 10px transparent;
  border-left: 10px transparent;
  border-right: 10px transparent;
  border-bottom: 10px transparent;
}

#div_drch {
  padding-left: 0;
  padding-right: 0;
  float: right;
  display: block;
  background: transparent;

  border-top: 10px transparent;
  border-left: 10px transparent;
  border-right: 10px transparent;
  border-bottom: 10px transparent;
}

.botoncito {
  text-align: center;
  margin-bottom: 40px;
}

.nombre {
  border: 4px solid #ffc107;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  font-family: retro;
  font-weight: 600;
  font-size: 20px;
  color: #ffc107;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.botones_jugabilidad {
  text-align: center;
}
.btn_easy {
  border: 4px solid #ffc107;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  font-family: retro;
  font-weight: 600;
  font-size: 20px;
  color: #ffc107;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn_medio {
  border: 4px solid #ffc107;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  font-family: retro;
  font-weight: 600;
  font-size: 20px;
  color: #ffc107;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn_hard {
  border: 4px solid #ffc107;
  background: transparent;
  border-radius: 6px;
  text-align: center;
  font-family: retro;
  font-weight: 600;
  font-size: 20px;
  color: #ffc107;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

th {
  width: 25%;
  text-align: center;
  color: rgba(255, 193, 7, 255);
  background-color: transparent;
  font-family: retro;
  padding: 20px;
  border: solid 3px rgba(255, 193, 7, 255);
}

.btn {
  background: transparent;
  border: transparent;
  background-position: center;
  
}
.mando_ayuda {
  height: 20%;
  width: 20%;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background: rgba(14, 12, 12, 0.5);
  position: static;
  top: 500;
  bottom: 50;
  left: 350;
  right: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}
